<section class="hero is-white has-text-centered animate-fadeUp">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title">Full-Stack Developer</h1>
          <h2 class="subtitle">I love to apply my knowledge to solve problems, create amazing products and impact lives.</h2>
          <img class="avatar" src="img/mf-avatar.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container"><img class="is-bottom" src="img/hero.svg"></div>
  </div>
</section>
