<section class="section is-medium is-primary has-text-centered is-long-ish" style="background-image: 'src\assets\images\1.png';">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile mb-5">My Startup Projects</h1>
        <h2 class="subtitle is-size-5-desktop">I'm a bit of a digital product junky. Over the years, I've used hundreds of web and mobile apps in different industries and verticals. Eventually, I decided that it would be a fun challenge to try designing and building my own.</h2>
      </div>
    </div>
  </div>
</section>
