.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.invisible-nav-bg {
  background-color: transparent;
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #BD93F9;
  border-color: #BD93F9;
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn-outline-warning {
  color: #BD93F9;
  border-color: #BD93F9;
  border-width: 2px;
  font-weight: bold;
  font-size: 18px;
  padding: 1.2rem;
  font-family: "europa", sans-serif;
  border-radius: 40px;
}

