<section class="section-companies">

  <div class="section-heading-wrapper">
    <div class="section-heading">
      <h2>Okie Dokie let me talk about some real works</h2>
      <p>I'm proud to have collaborated with some awesome companies.</p>
    </div>
  </div>

  <div class="grid-container">
      <div class="grid-item grid-item-1">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <img src="..\assets\images\BTG.png" aria-hidden="true">
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
           
              <a class="companies-title" href="https://www.btgpactualdigital.com/" target="_blank">BTG Pactual</a>
          
            <p>First opportunity to work as a QA Developer,
              I used CSharp xUnit and Python to secure national blacklist code,
              PEP's, ofac and unwanted people. Asset risk calculation.
              Regulation of employees' personal investments. Maintain the HRN flow, that is, identify high-risk
              entities.
            </p>
            <!-- <p>Primeira oportunidade de trabalhar como Desenvolvedor QA, utilizei C# Xunit e Python para segurança de
            código
            de
            lista restritiva nacional, pessoas politicamente expostas, ofac e unwanted. Cálculo de risco de ativos.
            Regulamentação de investimentos pessoais dos funcionários. Manter o fluxo HRN, ou seja, identificar
            entidades
            de alto risco. Definir o perfil do investidor e Sync de conta corrente.</p> -->
          </div>
        </div>
      </div>
      <div class="grid-item grid-item-2">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <img src="..\assets\images\mycap.png" aria-hidden="true">
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
        
              <a class="companies-title" href="https://www.mycap.com.br/" target="_blank">MyCap</a>
         
            <p>
              I had the opportunity to work as a full-stack dev, worked with Angular,
              CSharp, Javascript, Node.js, and Bootstrap to implement the
              Loan of Shares and Investment Funds functionality.
            </p>
            <!-- <p>Tive a oportunidade de trabalhar como dev full stack, e utilizar as linguagens Angular, C#, Javascript,
            Node,
            e Bootstrap para
            implementar a funcionalidade de Empréstimo de Ações e Fundos de Investimentos</p> -->
          </div>
        </div>
      </div>

      <div class="grid-item grid-item-3">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <img src="..\assets\images\totvs.png" aria-hidden="true">
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">

      
              <a class="companies-title" href="https://www.totvs.com/" target="_blank">Totvs</a>
         
            <p>
              I participated in the creation of systems for investment back-office, private, and custody. I also
              participated in the bradesco's billing system and had the opportunity to use languages like CSharp .Net in
              Mvc and SqlServer database.
            </p>
            <!-- 
          <p>Participei na criação de sistemas para back-office de investimentos, do private, e custódia.
            Participei também do sistema de boletagem do bradesco e tive a oportunidade de
            utilizar linguagens como C#.Net em Mvc e banco SqlServer.</p> -->
          </div>
        </div>
      </div>

    <div class="grid-item grid-item-4">
      <div class="face face1">
        <div class="content">
          <div class="icon">
            <img src="..\assets\images\conspirac.png" aria-hidden="true">
          </div>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
       
            <a class="companies-title" href="https://conspiracao.com.br/" target="_blank">Conspiração Filmes</a>
        
          <p>
            Responsible for the migration from the VB6 system to VB.Net.
          </p>
          <!-- <p>Responsável pela migração do sistema VB6 para o VB.Net</p> -->
        </div>
      </div>
    </div>


    <div class="grid-item grid-item-5">
      <div class="face face1">
        <div class="content">
          <div class="icon">
            <img src="..\assets\images\britech.png" aria-hidden="true">
          </div>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
       
            <a class="companies-title" href="https://www.britech.global/" target="_blank">Britech</a>
       
          <p>
            Middleware experience. Responsible for integrating back office,
            front office, financial operations using middleware tool (Transformer).
          </p>
          <!-- <p>Experiência em Middleware. Responsável em realizar a integração entre sistemas back office,
            front office, operações financeiras utilizando ferramenta de middleware (Transformer).</p> -->
        </div>
      </div>
    </div>

    <div class="grid-item grid-item-6">
      <div class="face face1">
        <div class="content">
          <div class="icon">
            <img src="..\assets\images\sinqia.png" aria-hidden="true">
          </div>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
       
            <a class="companies-title" href="https://www.sinqia.com.br/" target="_blank">Sinqia</a>
        
          <p>Dev engineer full-stack consultant.</p>
          <!-- <p>Consultor pleno Full-Stack</p> -->
        </div>
      </div>
    </div>
    </div>
</section>