$roxinho: #7289da;

.section-companies {
  background-color: #f9f9f9;
  margin: 0 auto;
  padding-top: 90px;
}

.grid-container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
}

.grid-container .grid-item.grid-item-1 .face.face1 {
  background: #e07768;
}

.grid-container .grid-item.grid-item-4 .face.face1 {
  background: #e07768;
}

.grid-container .grid-item.grid-item-2 .face.face1 {
  background: #6eadd4;
}

.grid-container .grid-item.grid-item-5 .face.face1 {
  background: #6eadd4;
}

.grid-container .grid-item.grid-item-3 .face.face1 {
  background: #4aada9;
}

.grid-container .grid-item.grid-item-6 .face.face1 {
  background: #4aada9;
}

.grid-container .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.grid-container .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.grid-container .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.grid-container .grid-item.grid-item-1:hover .face.face1,
.grid-container .grid-item.grid-item-4:hover .face.face1{
  background: #e07768;
  transform: translateY(0px);
}

.grid-container .grid-item.grid-item-2:hover .face.face1,
.grid-container .grid-item.grid-item-5:hover .face.face1{
  background: #6eadd4;
  transform: translateY(0px);
}

.grid-container .grid-item.grid-item-3:hover .face.face1,
.grid-container .grid-item.grid-item-6:hover .face.face1{
  background: #4aada9;
  transform: translateY(0px);
}

.grid-container .grid-item .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.grid-container .grid-item:hover .face.face1 .content {
  opacity: 1;
  
  //z-index: 1000;
}

.grid-container .grid-item .face.face1 .content img{
  max-width: 100px;
}

// .grid-container .grid-item .face.face2 .content a{

// }

.grid-container .grid-item .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);

}

.grid-container .grid-item .face.face2 .content {
  display: grid;


}

.grid-container .grid-item:hover .face.face2{
  transform: translateY(0);
  //z-index: 1000;
}

div .grid-item {
  background: transparent;
  border: none;
}

p {
  font-size: 12px;
}

.companies-title {
  margin-bottom:6px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: $roxinho;
}

// .companies-title:hover {
//   box-shadow: 0 20px 50px rgba(0,0,0,0.8);
//   transition: all 800ms;
// }