<div>

    <div class="page-portfolio">

        <div class="background-mail">

            <div class="glad">

                <h1>Hey you! Im so glad you are here!</h1>

                <p class="itsme-copy">How can i help you today?</p>

            </div>

            <div class="container">
                <form onsubmit="teste()">
                    <div class="columns is-centered">
                        <div class="column is-half">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input is-large" type="text" required="true">
                            </div>
                        </div>
                        <div class="column is-half">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input is-large" type="email" required="true">
                            </div>
                        </div>
                    </div>
                    <div class="columns is-centered">
                        <div class="column">

                            <label class="label">Message</label>
                            <div class="control">
                                <textarea class="textarea is-large" rows="5" required="true"></textarea>
                            </div>
                        </div>

                    
                   
                    </div>

                    <div class="submit-mail">
                        <button class="rounded-button">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>