.section.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;
}

.title {
  font-family: "europa", sans-serif;
  font-size: 24px;
  color: black;
  font-weight: 800;
  word-break: break-word;
  line-height: 1.125;
}

.section {
  padding: 5rem 1.5rem;
}

.has-text-centered {
  text-align: center !important;
}

.skills-text {
  color: #141c3a;
  font-size: 18px;
  font-family: "europa", sans-serif;
  font-size: 1em;
  font-weight: 350;
  line-height: 1.5;
}

.container.is-narrow {
  max-width: 1200px;
}

.container {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.section.skills .box {
  padding: 0;
}

.box {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  color: #141c3a;
  display: block;
  padding: 1.25rem;
}

.section.skills .box .content .columns {
  margin-left: 0;
  margin-right: 0;
}

.columns.is-centered {
  -webkit-box-pack: center;
  justify-content: center;
}

.columns:last-child {
  margin-bottom: -0.75rem;
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  display: flex;
}

.section.skills .box .content .columns .column {
  padding: 70px 45px;
}

.column {
  display: block;
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.section.skills .box .content .columns .column figure i {
  margin: 0 auto 2em;
}

.section.skills .box .content .columns .column p.list-title {
  margin-top: 50px;
  margin-bottom: 8px;
}

.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

i {
  display: block;
  position: relative;
}

.section p {
  margin-bottom: 2rem;
}

.content p {
  font-size: 20px;
  line-height: 30px;
}

.has-text-weight-normal {
  font-weight: 400 !important;
}

.has-text-primary {
  color: #7510F7 !important;
}

.section.skills .box .content .columns .column ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
