<section class="section skills has-text-centered">
  <div class="container is-narrow">
    <div class="box">
      <div class="content skills-text">
        <div class="columns is-centered">
          <div class="column">
            <i class="fas fa-cogs icon mb-5"></i>
            <h1 class="title is-size-4 is-spaced title pb-4">Back-end Developer</h1>
            <p class="subtitle">I love to create the logical back-end of a website, software or information system</p>
            <p class="list-title">Languages I speak:</p>


            <div class="card-container">
              <a class="circle-link" href="https://pt.wikipedia.org/wiki/C_Sharp" title="C#" target="_blank">
                <img src="..\assets\images\csharp.png" class="pb-2" style="width: 75%;">
              </a>
              <a class="circle-link" href="https://nodejs.org/en/" title="Node Js" target="_blank">
                <i class="fab fa-node-js node-icon"></i>
              </a>
              <a class="circle-link" href="https://www.python.org/" title="Python" target="_blank">
               <img src="..\assets\images\python.png" class="pb-2" style="width: 75%;">
              </a>
            </div>
            <p class="list-title">Dev Tools:</p>
            <ul class="subtitle">
              <li>.Net Core</li>
              <li>Sql Server</li>
              <li>Api Rest</li>
              <li>Mvc</li>
              <li>XUnit</li>
            </ul>
          </div>
          <div class="column divide-border">
            <i class="fas fa-code icon mb-5"></i>
            <h1 class="title is-size-4 is-spaced title pb-4">Front-end Developer</h1>
            <p class="subtitle">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
            <p class="list-title">Languages I speak:</p>

            <div class="card-container">
              <a class="circle-link" href="https://www.javascript.com/" title="JavaScript" target="_blank">
                <i class="fab fa-js js-icon"></i>
              </a>
              <a class="circle-link" href="https://angular.io/" title="Angular" target="_blank">
                <i class="fab fa-angular angular-icon"></i>
              </a>
              <a class="circle-link" href="https://pt.wikipedia.org/wiki/HTML5" title="Html 5" target="_blank">
                <i class="fab fa-html5 html-icon"></i>
              </a>
              <a class="circle-link" href="https://pt.wikipedia.org/wiki/CSS3" title="Css 3" target="_blank">
                <i class="fab fa-css3-alt css3-icon"></i>
              </a>
              <a class="circle-link" href="https://sass-lang.com/" title="Sass" target="_blank">
                <i class="fab fa-sass sub-icon"></i>
              </a>
            </div>
            <!-- <p class="subtitle">JavaScript, Angular, HTML, CSS, SASS</p> -->
            <!-- , React Native -->
            <p class="list-title">Dev Tools:</p>
            <ul class="subtitle">
              <li>Bitbucket</li>
              <li>Bootstrap</li>
              <li>Wordpress</li>
              <li>Codepen</li>
              <li>Github</li>
              <li>GitKraken</li>
              <li>Gitlab</li>
              <li>Terminal</li>
            </ul>
          </div>
          <div class="column">
            <i class="fas fa-mobile-alt icon mb-5"></i>
            <h1 class="title is-size-4 is-spaced title pb-4">Native Developer</h1>
            <p class="subtitle">I value simple content structure, clean design patterns, and thoughtful interactions.
            </p>
            <p class="list-title">Experiences I draw from:</p>

            <div class="card-container">
              <a class="circle-link" href="https://pt.wikipedia.org/wiki/React_Native" target="_blank" title="React Native">
                <i class="fab fa-react react-icon"></i>
              </a>
              <a class="circle-link" href="https://flutter.dev/" target="_blank" title="Flutter">
                <i class="fas fa-chevron-left flutter-icon"></i>
              </a>
            </div>

            <p class="list-title">Native Stats:</p>
            <ul class="subtitle">
              <li>1 year experience</li>
              <li>8 short courses</li>
              <li>2 long courses</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
