<section class="section-hypesquad-about">

  <div class="section-heading">
    <h2>How about you spy on my skills?</h2>
    <p>let me try to show some of.
    </p>
  </div>

  <div class="about-duties">
    <div class="about-duty back-end">
      <h3>Back-end</h3>
      <p>I love to create the logical back-end of a website, software or information system</p>
         <h3>Languages I speak</h3>
         <div class="mt-3">
          <a class="circle-link" href="https://pt.wikipedia.org/wiki/C_Sharp" title="C#" target="_blank">
            <img src="../../assets/images/csharp.png" class="csharp-icon">
          </a>
          <a class="circle-link" href="https://nodejs.org/en/" title="Node Js" target="_blank">
            <img src="../../assets/images/node-icon.png" class="node-icon">
            
          </a>
        </div>

        <div>
        <h3>Dev Tools</h3>
        <p>.Net Core</p>
        </div>

    </div>
    <div class="about-duty front-end">
      <h3>Front-end</h3>
      <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
      <h3>Languages I speak</h3>

      <div class="mt-1 col">
        <a class="circle-link" href="https://reactjs.org" title="ReactJs" target="_blank">
          <img src="../../assets/images/react-icon.png" class="react-icon">
        </a>
        <a class="circle-link" href="https://angular.io/" title="Angular" target="_blank">
          <img src="../../assets/images/angular-icon.png" class="angular-icon">
        </a>
        <a class="circle-link" href="https://www.javascript.com/" title="JavaScript" target="_blank">
          <img src="../../assets/images/js-icon.png" class="js-icon">
        </a>
        <a class="circle-link" href="https://pt.wikipedia.org/wiki/HTML5" title="Html 5" target="_blank">
          <img src="../../assets/images/html5-icon.png" class="html-icon">
        </a>
        <a class="circle-link" href="https://pt.wikipedia.org/wiki/CSS3" title="Css 3" target="_blank">
          <img src="../../assets/images/css3-icon.png" class="css3-icon">
        </a>
        <a class="circle-link" href="https://sass-lang.com/" title="Sass" target="_blank">
          <img src="../../assets/images/sass-icon.png" class="sass-icon">
        </a>
      </div>

      <div>
        <h3>Dev Tools</h3>
        <p>.Net Core</p>
        </div>

    </div>
    <div class="about-duty mobile-dev">
      <h3>Mobile</h3>
      <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
      <h3>Languages I speak</h3>

      <div class="mt-3">
        <a class="circle-link" href="https://pt.wikipedia.org/wiki/React_Native" target="_blank" title="React-Native">
          <img src="../../assets/images/react-icon.png" class="react-icon">
        </a>
      </div>

      <div>
        <h3>Mobile Stats</h3>
        <p>.Net Core</p>
        </div>

    </div>
  </div>
</section>
