.section.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;
}

.title {
  font-family: "eurostile", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.877);
  font-weight: 800;
  word-break: break-word;
  line-height: 1.125;
}

.section {
  padding: 5rem 1.5rem;
}

.has-text-centered {
  text-align: center !important;
}

.skills-text {
  color: #141c3a;
  font-size: 18px;
  font-family: "europa", sans-serif;
  font-size: 1em;
  font-weight: 350;
  line-height: 1.5;
}

.container.is-narrow {
  max-width: 1200px;
}

.container {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.section.skills .box {
  padding: 0;
}

.box {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  color: #141c3a;
  display: block;
  padding: 1.25rem;
}

.section.skills .box .content .columns {
  margin-left: 0;
  margin-right: 0;
}

.columns.is-centered {
  -webkit-box-pack: center;
  justify-content: center;
}

.columns:last-child {
  margin-bottom: -0.75rem;
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  display: flex;
}

.section.skills .box .content .columns .column {
  padding: 70px 45px;
}

.column {
  display: block;
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.section.skills .box .content .columns .column figure i {
  margin: 0 auto 2em;
}

.section.skills .box .content .columns .column p.list-title {
  margin-top: 50px;
  margin-bottom: 8px;
}

.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-family: monospace;
  font-weight: 150;
  line-height: 1.5;
  color:rgba(0, 0, 0, 0.877);
  font-size: large;
}

.divide-border {
  border-left: 1px;
  border-left-style: solid;
  border-left-color: antiquewhite;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: antiquewhite;
}

.list-title {
  font-size: 18px;
  font-weight: 400;
  color: #7510F7;
}

.icon {
    color: #BD93F9;
    font-size: 50px;
}

.sub-icon {
    color: #FF79C6;
    font-size: 26px;
}

.node-icon {
  color: #689f63;
  font-size: 26px;
}

.js-icon {
  color: #f7df1e;
  font-size: 26px;
}

.angular-icon {
  color: #dd0031;
  font-size: 26px;
}

.html-icon {
  color: #e54c21;
  font-size: 26px;
}

.css3-icon {
  color: #62b3f4;
  font-size: 26px;
}

.react-icon {
  color: #00d6ff;
  font-size: 26px;
}

.flutter-icon {
  color: #5ec8f8;
  font-size: 26px;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: none;
  display: inline-table;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); */
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}
