<section class="section skills has-text-centered">
    <div class="container is-narrow">
        <div class="box">
            <div class="content">
                <div class="columns is-centered">
                    <div class="column">
                        <h1 class="title is-size-4 is-spaced">Block 1</h1>
                        <p>block 1 description</p>
                        <p class="list-title has-text-primary has-text-weight-normal">block 1 description</p>
                        <p>asdadad</p>
                        <p class="list-title has-text-primary has-text-weight-normal">Block block</p>
                        <ul>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                        </ul>
                    </div>
                    <div class="column">
                        <h1 class="title is-size-4 is-spaced">Block 1</h1>
                        <p>block 1 description</p>
                        <p class="list-title has-text-primary has-text-weight-normal">block 1 description</p>
                        <p>asdadad</p>
                        <p class="list-title has-text-primary has-text-weight-normal">Block block</p>
                        <ul>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                        </ul>
                    </div>
                    <div class="column">
                        <h1 class="title is-size-4 is-spaced">Block 1</h1>
                        <p>block 1 description</p>
                        <p class="list-title has-text-primary has-text-weight-normal">block 1 description</p>
                        <p>asdadad</p>
                        <p class="list-title has-text-primary has-text-weight-normal">Block block</p>
                        <ul>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                            <li>A1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>