<div>
  <div>
    <app-navbar></app-navbar>
  </div>
  <div>
    <app-hero></app-hero>
  </div>

  <div>
    <app-introduction></app-introduction>
  </div>

  <div>
    <app-skills></app-skills>
  </div>

  <div class="pt-5 pb-5 mb-5">
    <app-companies></app-companies>
  </div>

  <div class="pb-5">
    <app-my-projects></app-my-projects>
  </div>

  <div class="pb-5">
    <app-startups></app-startups>
  </div>

  <div class="bt-1 pt-5 pb-5">
    <app-testimonials></app-testimonials>
  </div>

</div>


