$roxinho: #7289da;

a {
  text-decoration: none;
  color: $roxinho;
  opacity: 1;
}

.same-height-for-everyone {
  height: 75px;
}

.fas.fa-paint-roller {
  color: $roxinho;
  padding: 0 6px;
  opacity: 0.5;
}

.in-development {
  text-decoration: none;
  color: $roxinho;
  cursor: not-allowed;
  opacity: 0.5;
}

.in-development:hover {
  text-decoration: none;
  color: $roxinho;
  cursor: not-allowed;
  opacity: 0.5;
}

.button-conversation {
  border: 2px solid;
  font-weight: 200;
  text-align: center;
  padding: 0.8rem;
  background-color: transparent;
  border-color: $roxinho;
  color: $roxinho;
  border-radius: 32px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.button-conversation:hover {
  background-color: $roxinho;
  color: #fff;
  opacity: 0.9;
}

.conversation {
  display: block;
}

.section-skills .about-skills .about-skill.be-the-hero {
  background: #fff url(src/assets/images/be-the-hero-2.png) no-repeat 50% 63px;
  background-size: 90px;
}

.section-skills .about-skills .about-skill.solar-system {
  background: #fff url(src/assets/images/solar-system.svg) no-repeat 50% 43px;
  background-size: 70px 86px;
}

.section-skills .about-skills .about-skill.music-player {
  background: #fff url(src/assets/images/music-player-1.svg) no-repeat 50% 43px;
  background-size: 70px 86px;
}

.section-skills .about-skills .about-skill.calendar {
  background: #fff url(src/assets/images/calendar.svg) no-repeat 50% 43px;
  background-size: 60px 86px;
}

.section-skills .about-skills .about-skill.rich-text-editor {
  background: #fff url(src/assets/images/text-editor.svg) no-repeat 50% 43px;
  background-size: 70px 86px;
}

.section-skills .about-skills .about-skill.lion {
  background: #fff url(src/assets/images/lion.svg) no-repeat 50% 43px;
  background-size: 65px 86px;
}
