<section class="section startups has-text-centered">
  <div class="container is-narrow">
    <div class="startup-grid">
      <div class="columns is-multiline level">
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box"><i class="fab fa-mailchimp mb-5" style="font-size: 50px;"></i>
            <p>Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.</p><a
              class="link has-text-primary button" style="border: none; padding: 0; height: 27px;" disabled=""><span
                class="icon"><i class="fas fa-paint-roller"></i></span><span>In development</span></a>
          </div>
        </div>
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box"><i class="fab fa-mailchimp mb-5" style="font-size: 50px;"></i>
            <p>Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.</p><a
              class="link has-text-primary button" style="border: none; padding: 0; height: 27px;" disabled=""><span
                class="icon"><i class="fas fa-paint-roller"></i></span><span>In development</span></a>
          </div>
        </div>
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box"><i class="fab fa-mailchimp mb-5" style="font-size: 50px;"></i>
            <p>Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.</p><a
              class="link has-text-primary button" style="border: none; padding: 0; height: 27px;" disabled=""><span
                class="icon"><i class="fas fa-paint-roller"></i></span><span>In development</span></a>
          </div>
        </div>
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box"><i class="fab fa-mailchimp mb-5" style="font-size: 50px;"></i>
            <p>Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.</p><a
              class="link has-text-primary button" style="border: none; padding: 0; height: 27px;" disabled=""><span
                class="icon"><i class="fas fa-paint-roller"></i></span><span>In development</span></a>
          </div>
        </div>
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box"><i class="fab fa-mailchimp mb-5" style="font-size: 50px;"></i>
            <p>Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.</p><a
              class="link has-text-primary button" style="border: none; padding: 0; height: 27px;" disabled=""><span
                class="icon"><i class="fas fa-paint-roller"></i></span><span>In development</span></a>
          </div>
        </div>
        <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
          <div class="box"><i class="fab fa-mailchimp mb-5" style="font-size: 50px;"></i>
            <p>Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.</p><a
              class="link has-text-primary button" style="border: none; padding: 0; height: 27px;" disabled=""><span
                class="icon"><i class="fas fa-paint-roller"></i></span><span>In development</span></a>
          </div>
        </div>
      </div>

    </div>

    <div class="callout">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-spaced">Interested in collaborating with me?</h1>
          <h2 class="subtitle is-size-5-desktop">I’m always open to discussing product design work or partnership
            opportunities.</h2><a class="button is-primary is-outlined is-rounded is-medium"
            href="">Start a conversation</a>
        </div>
      </div>
    </div>

  </div>
</section>
