<section class="section-hypesquad-about" style="background-color: #f9f9f9">

  <div class="section-heading">
    <h2>Hey! Here are some cool stuffs</h2>
    <p>I'm a bit of a digital product junky. Over the years, I've used hundreds of web and mobile apps in different industries and verticals. Eventually, I decided that it would be a fun challenge to try designing and building my own.
    </p>
  </div>

  <div class="about-duties">
    <div class="about-duty be-the-hero">
      <h3>Be the Hero</h3>
      <p>It is a app that NGOs can register a case and
        you, just like a hero, can help with only a feel clicks.
      </p>
      <!-- <h3>Back-end</h3>
      <p>
        Developed this API using
        <span style="color: red; font-weight: bold;">Node.js</span>
        with
        <span style="color: red; font-weight: bold;">Express.js</span>
        and
        <span style="color: red; font-weight: bold;">SQLite</span>
        as database.
      </p>
      <h3>Front-end and Mobile</h3>
      <p>
        Developed with
        <span style="color: red; font-weight: bold;">React</span>
        and
        <span style="color: red; font-weight: bold;">React-Native</span>
        with
        Expo.
      </p> -->
    </div>
    <div class="about-duty solar-system">
      <h3>Solar System</h3>
      <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>

    </div>
    <div class="about-duty music-player">
      <h3>Radio</h3>
      <p>Who doesn't like music?</p>
      <p style="margin-top: -15px;">So, why not build my own music player to understand how things work under the hood?</p>
    </div>
  </div>

  <div class="about-duties">
    <div class="about-duty calendar">
      <h3>Calendarie</h3>
      <p>Any modestly complicated application involves dates in some way or another. So i build my own calendar to get familiarise with the way time zones and dates work.</p>

    </div>
    <div class="about-duty rich-text-editor">
      <h3>Text Editor</h3>
      <p>A rich-text editor's aim is to reduce the effort for users trying to express
        their formatting as valid HTML markup.</p>

    </div>
    <div class="about-duty lion">
      <h3>Mobile</h3>
      <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
    </div>
  </div>

  <div class="section-heading">
    <h2>Interested in collaborating with me?</h2>
    <p>I’m always open to discussing product design work or partnership opportunities.</p>
    <div class="mt-5 conversation">
    <a class="button-conversation" href="">Let's Talk</a>
    </div>
  </div>

</section>