<section class="section-hypesquad-about" style="background-color: #f9f9f9">

  <div class="section-heading">
    <h2>How about you spy on my skills?</h2>
    <p>let me try to show some of.
    </p>
  </div>

  <div class="about-duties">
    <div class="about-duty back-end">
      <h3>Be the Hero</h3>
      <p style="font-size: 14px;">imagine if you could help NGOs without even leaving home.
        So, Be the Hero is an app that NGOs can register a case and
        you, just like a hero, can help with only a feel clicks.
      </p>
      <h3>Back-end</h3>
      <p style="font-size: 14px;">
        Developed this API using
        <span style="color: red; font-weight: bold;">Node.js</span>
        with
        <span style="color: red; font-weight: bold;">Express.js</span>
        and
        <span style="color: red; font-weight: bold;">SQLite</span>
        as database.
      </p>
      <h3>Front-end and Mobile</h3>
      <p style="font-size: 14px;">
        Developed with
        <span style="color: red; font-weight: bold;">React</span>
        and
        <span style="color: red; font-weight: bold;">React-Native</span>
        with
        Expo.
      </p>
    </div>
    <div class="about-duty front-end">
      <h3>Front-end</h3>
      <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>

    </div>
    <div class="about-duty mobile-dev">
      <h3>Mobile</h3>
      <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
    </div>
  </div>

  <div class="about-duties">
    <div class="about-duty back-end">
      <h3>Back-end</h3>
      <p>I love to create the logical back-end of a website, software or information system</p>

    </div>
    <div class="about-duty front-end">
      <h3>Front-end</h3>
      <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>

    </div>
    <div class="about-duty mobile-dev">
      <h3>Mobile</h3>
      <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
    </div>
  </div>

  <div class="section-heading">
    <h2>Interested in collaborating with me?</h2>
    <p>I’m always open to discussing product design work or partnership opportunities.</p>
    <div class="mt-5 conversation">
    <a class="button-conversation" href="">Let's Talk</a>
    </div>
  </div>

</section>