$roxinho: #7289da;

@media screen and (min-width: 769px)
{
  .section.startups {
    padding-bottom: 9rem;
    margin-top: -14rem;
  }

  .callout .title {
    font-size: 26px;
  }

  .section.startups .startup-grid {
    margin-bottom: 6rem;
  }

  .columns:not(.is-desktop) {
    display: -webkit-box;
    display: flex;
  }

  .level {
    display: -webkit-box;
    display: flex;
  }

  .level > .level-item:not(.is-narrow) {
    -webkit-box-flex: 1;
    flex-grow: 1;
  }
  .column.is-half, .column.is-half-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%;
  }

  .section.startups .startup-grid .box {
    padding: 60px 35px;
  }

  .section.startups .startup-grid .box p {
    font-size: 18px;
  }

  .columns:not(.is-desktop) {
    display: -webkit-box;
    display: flex;
  }
}

@media screen and (min-width: 1024px)
{
  .column.is-one-third-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.3333%;
  }

  .is-size-5-desktop {
    font-size: 1.25rem !important;
    }

    .container {
      max-width: 960px;
      }
}

@media screen and (min-width: 1216px)
{
  .container {
  max-width: 1152px;
  }

  .section.startups .startup-grid .box {
    padding: 60px 35px;
  }
}

.button-conversation {
  border: 2px solid;
  font-weight: 200;
  text-align: center;
  padding: 0.8rem;
  background-color: transparent;
  border-color: $roxinho;
  color: $roxinho;
  border-radius: 32px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.button-conversation:hover {
  background-color: $roxinho;
  color: #fff;
  opacity: 0.9;
}

.conversation {
  display: block;
}

.section-hypesquad-about .about-duties .about-duty.be-the-hero {
  background: #fff url(src/assets/images/be-the-hero-2.png) no-repeat 50% 63px;
  background-size: 90px;
}

.section-hypesquad-about .about-duties .about-duty.solar-system {
  background: #fff url(src/assets/images/solar-system.svg) no-repeat 50% 43px;
  background-size: 70px 86px;
}

.section-hypesquad-about .about-duties .about-duty.music-player {
  background: #fff url(src/assets/images/music-player-1.svg) no-repeat 50% 43px;
  background-size: 70px 86px;
}

.section-hypesquad-about .about-duties .about-duty.calendar {
  background: #fff url(src/assets/images/calendar.svg) no-repeat 50% 43px;
  background-size: 60px 86px;
}

.section-hypesquad-about .about-duties .about-duty.rich-text-editor {
  background: #fff url(src/assets/images/text-editor.svg) no-repeat 50% 43px;
  background-size: 70px 86px;
}

.section-hypesquad-about .about-duties .about-duty.lion {
  background: #fff url(src/assets/images/lion.svg) no-repeat 50% 43px;
  background-size: 65px 86px;
}
