<section class="section-hypesquad-cta">
    <div class="cta-text">Are you ready </div>
    <div class="apply-button-wrapper"><button
        class="button-38aScr filledBrand-pyfKOu filledDefault-eAvIdC buttonHeightTall-35JAaW grow-q77ONN disabled-9aF2ug unpaired-31HHvP"
        disabled="" tabindex="0">
        <div class="buttonContent-IUG71x">Candidatar-se</div>
      </button></div>
    <p class="disabledNotice-1z-GY5">Demos uma pausa nas candidaturas para o HypeSquad do Discord enquanto damos
      uma geral na casa. Mas não precisa se desesperar, vamos voltar com elas logo, logo. Se tiver qualquer
      dúvida, entre em contato conosco em <a href="mailto:hypesquad@discordapp.com" target="_blank"
        rel="noreferrer">hypesquad@discordapp.com</a>.</p><br>
    <div class="partner-link">Criador de conteúdo? Organizador de eventos de eSports? Comunidade?
      <!-- --> &nbsp;<a href="/partners">Confira nosso Programa de Parceria</a></div>
  </section>

<section class="section testimonials is-medium is-white has-text-centered">
    <div class="container is-narrow">
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Testimonials</h1>
        <h2 class="subtitle is-size-5-desktop">People I've worked with have said some nice things...</h2>
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="testimonials-slider">

                    <input type="radio" class="radio" name="slider" id="slide1" checked/>
                    <input type="radio" class="radio" name="slider" id="slide2" />

                    <div class="images">
                        <div class="images-inner">~
                            <div class="image-slide">
                                <div class="image">
                                    <img src="..\assets\images\ferber.jpg">
                                    <p class="quote">"Software development professional committed to quality and deadlines."</p>
                                    <h1 class="title-name is-size-5">Yuryi Ferber</h1>
                                    <h2 class="subtitle is-size-6">Founder, Chairman & CEO at BRITech S.A.</h2>
                                </div>
                            </div>
                            <div class="image-slide">
                                <div class="image">
                                       <img src="..\assets\images\ayusso.jpg">
                                    <p class="quote">"Great professional. Dedicated, self-taught and versatile. always tried to solve problems in the most efficient way. Skillful to communicate and work in teams. It has a brilliant career!"</p>
                                    <h1 class="title-name is-size-5">Gabriel Ayusso</h1>
                                    <h2 class="subtitle is-size-6">Cofounder | Alien Lab</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="labels ">
                        <div class="fake-radio">
                            <label for="slide1" class="radio-btn"></label>
                            <label for="slide2" class="radio-btn"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>