$roxinho: #7289da;

img {
    max-width: 96px;
    height: auto;
    border-radius: 100px;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.pt-200 {
  padding-top: 200px;
}
  
.images {
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.images-inner {
  width: 500%;
  transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.image-slide {
  width: 20%;
  float: left;
}
  
.image-slide, .radio-btn {
    transition: all 0.5s ease-out;
}
 
#slide1:checked ~ .images .images-inner {
  margin-left: 0;
}

#slide2:checked ~ .images .images-inner {
  margin-left: -100%;
}

#slide3:checked ~ .images .images-inner {
  margin-left: -200%;
}
 
#slide1:checked ~ div .radio-btn:nth-child(1),
#slide2:checked ~ div  .radio-btn:nth-child(2),
#slide3:checked ~ div  .radio-btn:nth-child(3) {
  background: $roxinho;
  border: none;
  width: 20px;
  transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.radio-btn {
  width: 11px;
  height: 11px;
  border-radius: 8px;
  border: 1px solid gray;
  display: inline-block !important;
  cursor: pointer !important;
  margin: 6px;
}

/*Controler*/
input{display:none;}

.label {
  opacity: 0;
  position: absolute;
}

.testimonials-slider {
    position: relative;
}

.function {
  margin: 0;
  padding: 0;
  color:$roxinho;
  font-weight: 200;
}