<section class="section-hypesquad-cta">

    <div class="section-heading">
        <h2>Testimonals</h2>
        <p>People I've worked with have said some nice things...
        </p>
    </div>


    <div class="testimonials-slider">

        <input type="radio" class="radio" name="slider" id="slide1" checked/>
        <input type="radio" class="radio" name="slider" id="slide2" />

        <div class="images">
            <div class="images-inner">~
                <div class="image-slide">
                    <div>
                        <img src="..\assets\images\ferber.jpg">
                          <div class="section-heading">
                            <p>"Software development professional committed to quality and deadlines."</p>
                            <h2>Yuryi Ferber</h2>
                            <p class="function">Founder, Chairman & CEO at BRITech S.A.</p>
                          </div>  
                    </div>
                </div>
                <div class="image-slide">
                    <div class="section-heading">
                           <img src="..\assets\images\ayusso.jpg">
                        <p class="quote">"Great professional. Dedicated, self-taught and versatile. always tried to solve problems in the most efficient way. Skillful to communicate and work in teams. It has a brilliant career!"</p>
                        <h2>Gabriel Ayusso</h2>
                        <p class="function">Cofounder | Alien Lab</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="labels ">
            <div class="fake-radio">
                <label for="slide1" class="radio-btn"></label>
                <label for="slide2" class="radio-btn"></label>
            </div>
        </div>
    </div>

  </section>