@import '~@angular/material/theming';
@import "~bootstrap/dist/css/bootstrap.css";
@include mat-core();

$my-portfolio-primary: mat-palette($mat-yellow, 400);
$my-portfolio-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-portfolio-warn:    mat-palette($mat-deep-orange);

$my-portfolio-theme: mat-light-theme($my-portfolio-primary, $my-portfolio-accent, $my-portfolio-warn);

@include angular-material-theme($my-portfolio-theme);
