<div id="app-mount">

    <div>
  
      <div class="page-portfolio">
  
        <div class="hero-bg-wrapper"></div>
  
        <div>
  
          <main>
  
            <app-hero></app-hero>
  
            <app-skills></app-skills>
  
            <app-companies></app-companies>
  
            <app-startups></app-startups>
  
            <app-testimonials></app-testimonials>
  
          </main>
  
          <footer class="footer-blurple footer">
  
            <div class="footer-content">
         
            </div>
          </footer>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  