.footer-blurple {
    background: #7289da;
    opacity: 0.7;
}

.footer {
    position: relative;
    padding: 80px 160px 48px;
    font-weight: 400;
    overflow: hidden;
}

.footer-content {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}